

.title{
    font-family: "맑은 고딕","굴림"; /* 글꼴 */
    font-size: 40px; /* 글꼴크기 */
    font-weight: bold; /* 글꼴 진하게 */
    font-style: italic; /* 글꼴 기울기 */
}
/* 외부폰트 : 1.영문:구글폰트 2.한글:눈누폰트 */
@font-face {
    font-family: 'YeogiOttaeJalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
.content{
    font-family: 'YeogiOttaeJalnan';
    color: rgb(69, 2, 253); /* 글꼴 색상 */
    word-spacing: 10px; /* 단어간격 : 어간 */
    letter-spacing: 10px; /* 글자간격 : 자간 */
    line-height: 150%; /* 줄간격 : %백분율*/
    text-decoration: underline overline;
    
}
.writer{
    text-align: center; /* content(내용물) 의 가로 정렬*/
    text-decoration: underline overline line-through; 
    /* 선긋기 : underline(밑줄) overline(윗줄) line-through(취소선) */
    text-shadow: 5px 5px 5px rgb(255, 0, 0); 
    /* 텍스트 그림자 : x축(+right -left) y축( +bottom -top ) :*/
    color : rgb(255, 0, 0);  /* 방법1 : */
    color : rgb(255, 0, 0); /* 방법2 : */
    color : #fd0000 /*방법3 : 헥스코드( 6자릿수로 16진코드 ) */
}