@@ -0,0 +1,11 @@
/* 주석 : 범위지정 후  ctrl + / */
h5{ color : orange; }

/* 1. 전체선택자 */
*{ font-size: 20px ; } /* 글꼴크기 px(단위)*/
/* 2. 마크업선택자 */
h6{ font-size: 15px ; }
/* 3. 클래스 선택자 : 동일한 마크업들 간의 식별자 */
.개그맨{ font-size : 10px; }
/* 4. 아이디 선택자 : 동일한 마크업들 간의 *유일 식별자 */
#주민등록번호{ font-size: 5px; }