/* 작업용 */
*{
    border: solid 1px red;
    margin: 10px;
}
.s1{
    display: inline; /* 표기방법 */
    width: 100px; height: 100px; /* 사이즈 불가능 */
    /* (왼/오른) 안쪽/바깥 여백만 가능 */
    margin: 50px; padding: 20px;
}
.s2{
    display: block;
    /* 사이즈 가능*/
    width: 100px; height: 100px;
    /* 여백 가능 */
    margin: 50px; padding: 50px;
}
.s3{
    display: inline-block;
    width: 100px; height: 100px;
    margin: 50px; padding: 50px;
}
.s4{
    display: noun;
}


