
/* 1. 이미지 */
.사진구역 > img{
    width: 250px; /* 가로 사이즈*/
}
/* 2. 제목 */
.제목{
    font-weight: bold; /* 글꼴 진하게 */
}
.오렌지색상{
    color: orange; 
}
.제목강조{
    display: inline; /* 한줄에 표시 */
    font-size: 30px; /* 글꼴 크기 */
    margin-right: 5px; /* 오른쪽 바깥 여백 */
}
/* 3. 내용 */
.내용{
    width: 400px;
    background-color: rgb(88, 88, 122); /* 배경색 */
    color: white;
    padding: 23px 20px; /* 안쪽여백  위/아래=23 왼/오=20 */
    margin: 20px 0px;
}
.내용 > p{ /* span과 div 제외한 마크업들은 기본 CSS 제거 */
    margin: 0px; padding: 0px;

}

























